---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Options from "../components/Options.astro";
import Map from "../components/Map.astro";
import Galery from "../components/Galery.astro";
import Faq from "../components/Faq.astro";

---

<Layout title="Fundamigos">
  <main>
    <Hero />
    <Options/>
    <Map /> 
    <!-- <Galery /> -->
    <Faq />
  </main>
</Layout>

<style></style>
