---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fundamigos - Quienes Somos">
  <section class="pt-[150px] pb-[150px] w-full">
    <section
      class="flex flex-col p-5 justify-center w-full min-[1150px]:w-[1000px] min-[1500px]:w-[1400px] ml-auto mr-auto gap-3 text-center min-[758px]:text-start"
    >
      <h1 class="pb-5">Quienes Somos y Nuestros <span class="text-[#9C27B0]">Ideales</span> </h1>

      <h2>Mis<span class="text-[#9C27B0]">ion</span> </h2>
      <p class="pb-7">
        La Fundación FUNDAMIGOS VIDA & ESPERANZA es una organización sin ánimo
        de lucro que se compromete con la mejora de la calidad de vida, la salud
        física, mental, el bienestar y el interés social, incluyendo actividades
        de autocuidado, culturales, recreativas, y servicios sociales, a través
        de una atención oportuna y humanizada para los niños, las niñas, los
        adolescentes, los jóvenes y las familias de todo el territorio de
        influenza
      </p>

      <h2>Objetivo <span class="text-[#9C27B0]">General</span></h2>
      <p class="pb-7">
        Nuestro objetivo es proporcionar atención con calidad e incluyente desde
        un enfoque diferencial, garantizando el desarrollo emocional,
        psicológico, educativo y social de los beneficiarios.
      </p>

      <h2>Objetivos <span class="text-[#9C27B0]">Especificos</span> </h2>
      <p class="pb-7">
        1. Gestionar recursos y medios para mitigar factores de riesgo y
        estructurales que inciden en el bienestar mental y los hábitos para el
        buen vivir de los niños, niñas, adolescentes, jóvenes y las familias. <br
        />
        2. Desarrollar actividades conexas a nuestro objeto social, con el propósito
        de atender la participación de la niñez, en especial a las niñas y adolescentes,
        y promover la integración social de la población migrante y la niñez con
        discapacidad. <br /> 3. Realizar, patrocinar, organizar y sistematizar eventos
        que contribuyan al cumplimiento de nuestro objeto social.
      </p>

      <h2>Ambito de <span class="text-[#9C27B0]">Intervencion</span> </h2>
      <p class="pb-7">
        Nuestra intervención se centrará en los municipios con condiciones de
        mayor riesgo de vulneraciones para la niñez en distintos Departamentos
        del territorio colombiano, con énfasis en territorios rurales y rurales
        dispersos, comunidades étnicas y campesinas.
      </p>

      <h2>Vis<span class="text-[#9C27B0]">ion</span> </h2>
      <p class="pb-7">
        Ser una organización líder en la atención integral y el desarrollo de
        niños, niñas, adolescentes, jóvenes y familias en situación de
        vulnerabilidad en distintos Departamentos del territorio Colombiano,
        reconocida por su compromiso con la calidad, la inclusión y la
        sostenibilidad.
      </p>

      <h2>Ejes de la <span class="text-[#9C27B0]">Vision</span> </h2>
      <p class="pb-7">
        1. Atención integral: Brindar atención integral y de calidad a niños,
        niñas, adolescentes, jóvenes y familias en situación de vulnerabilidad. <br
        />
        2. Inclusión y diversidad: Promover la inclusión y la diversidad en todos
        nuestros programas y servicios, garantizando el acceso y la participación
        de todos los beneficiarios. <br />
        3. Sostenibilidad: Trabajar hacia la sostenibilidad de nuestros programas
        y servicios, garantizando la continuidad y el impacto a largo plazo. <br
        />
        4. Colaboración y redes: Establecer alianzas y redes con otros actores
        sociales y organizaciones para fortalecer nuestra capacidad de respuesta
        y mejorar la calidad de nuestros servicios.
      </p>
    </section>
  </section>
</Layout>
