---
import "@fontsource/poppins";
import LogoNav from "../assets/7.png";
import { Image } from "astro:assets";
---

<div class="nav">
  <input type="checkbox" id="nav-check" />

  <div class="nav-header">
    <div class="nav-title">
      <a href="/">
        <Image src={LogoNav} alt="logo" width={130} />
      </a>
    </div>
  </div>

  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/">Inicio</a>
    <a href="/QuienesSomos" class="text-[#FFEB3B] font-bold">Quienes Somos</a>
    <a href="/Financiero">Estados Financieros</a>
    <a href="/Contacto">Contacto</a>
  </div>
</div>


<style>
  .nav {
    height: 55px;
    width: 100%;
    background: rgba(76, 175, 79, 0.829);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgb(76, 175, 79);
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
  }

  .nav > .nav-header {
    display: inline;
  }

  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }

  .nav > .nav-btn {
    display: none;
  }

  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
 
  }

  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 13px 13px 10px;
    text-decoration: none;
  }

  .nav > .nav-links > a:hover {
    color: yellow;
  }

  .nav > #nav-check {
    display: none;
  }

  @media (max-width: 900px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,
    .nav #nav-check:checked ~ .nav-btn > label {
      background: rgba(76, 175, 79, 0.829);

      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgb(76, 175, 79);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background: rgba(76, 175, 79, 0.829);

      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgb(76, 175, 79);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(50vh - 50px);
      overflow-y: auto;
    }
  }
</style>
